.progressBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 2000;
    /* Above Header */
    background: transparent;
    pointer-events: none;
}

.progressBar {
    height: 100%;
    background: var(--color-secondary);
    width: 0%;
    transition: width 0.1s ease-out;
    box-shadow: 0 0 10px var(--color-secondary);
}